.game-lobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #282c34;
    font-family: Arial, sans-serif;
}

.subtitle {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.create-game-button {
    margin-bottom: 20px;
}

.create-game-button,
.join-game-button {
    background-color: #61dafb;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;

    animation: fadeIn 1s ease-in-out 0.5s;
    animation-fill-mode: both;
    font-family: 'Lato', sans-serif;
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: var(--spacing-xs);
}

.join-game {
    display: flex;
    justify-content: center;
    align-items: baseline;
    animation: fadeIn 1s ease-in-out 1s;
    animation-fill-mode: both;
    margin-bottom: var(--spacing-xxl);
}

.game-code-input {
    width: 80px;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
    animation: fadeIn 1s ease-in-out 0.5s;
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: var(--spacing-xs);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
