.game-page {
   height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-l);
    font-size: 2rem;
    font-weight: bold;
}

.game {
    flex: 1;
    overflow: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 1.2rem;
    padding: var(--spacing-s) var(--spacing-l);
}

.game-body2{
    /*overflow: scroll;*/
}

.game-header-cave{
   flex: 3;
}

.game-header-info{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.game > .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: var(--spacing-s) var(--spacing-l);
}

.game-body-image{
    flex: 2;
}

.game-body-info{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






