.game-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;

    justify-content: space-between;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
}

.diamonds {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.game-page > .player-list {
    background-color: #f0f0f0; /* Couleur de fond légèrement grise */
    padding: 10px 20px;
    overflow-y: auto;
}

.player-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace; /* Police "scoreboard" */
    font-size: 18px; /* Taille de la police plus grande */
    border-bottom: 1px solid #ccc; /* Bordure entre les joueurs */
}

.player-row:last-child {
    border-bottom: none; /* Retirer la bordure du dernier joueur */
}

.player-row-diamont{
    flex: 1;
    text-align: right;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée une grille avec 4 colonnes de taille égale */
    grid-template-rows:  min-content;
    grid-gap: var(--spacing-s);
    padding:  var(--spacing-s);
    background-color: #f5f5f5;
    overflow-y: auto;
}

.game-board-padding{
    background-color: #f5f5f5;
}


.game-page > .game-footer {


    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    padding: var(--spacing-s);
}

.stay-button,
.leave-button {
    background-color: #61dafb;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    font-family:  'Lato', sans-serif;
    padding: var(--spacing-s) var(--spacing-l);
    border-radius: var(--border-radius);
}

.game-footer-message {
    font-size: 18px;
    color: white;
    border: none;
    font-family:  'Lato', sans-serif;
    padding: var(--spacing-s) var(--spacing-l);
}
