.toasts-wrapper {
    position: absolute;

    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    overflow: hidden;

    backdrop-filter: blur(10px);
}

.my-toast {
    margin: var(--spacing-s);

    z-index: 10;
    animation: fadeinout 0.5s linear forwards;
    opacity: 0;
}

.my-toast-header {
    margin: var(--spacing-s);
    width: 100%;
}

.my-toast-body {
    margin: var(--spacing-s);
    width: 100%;
}

.my-toast-close{
    position: absolute;
    right: 0;
    top: 0;
    margin: var(--spacing-s);
    cursor: pointer;
}

@keyframes fadeinout {
    100% {
        opacity: 1;
    }
}
